*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    height: 2500px;
    width: 2500px;
    position: relative;
    background-size: cover;
/*  margin: 0px;
    height: 100vh;
    padding: 0;
    position: relative;
    background-size: cover; */
}

#map{
    width: 100%; 
    height:100%;
}

/* heading */

.title{
    position:absolute; 
    z-index: 100; 
    font-size: 90px;
    font-weight: bold;
    color: #ff9595d1;
    text-transform: uppercase;
    margin: 60px 110px;
    -webkit-text-stroke:4px white; 
    width: 800px;
    height: 100px;
}

/* search container */

.search-container{
    position: absolute;
    z-index: 100;
    margin: 200px 115px;
    width: 600px;
    height: 80px;
    background-image: linear-gradient(to bottom left, #ff7373bf, transparent);
    border-radius: 40px;
    border: 3px solid white;
    display: flex;
    align-items: center;
    
}
.search{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.search-container input{
    width: 100%;
    font-size: 40px;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    margin: 0px 20px;
    padding: 0px 15px;
    outline: none;    
}
::-webkit-input-placeholder{
    color: white;
}

.search i{
    margin: 0px 25px;
    font-size: 35px;
    color: white;
    cursor: pointer;
}

/* store list container */

.stores-list-container{
    width: 600px;
    height: 800px;
    position: absolute;
    z-index: 100;
    background-color: #ffffffcc;
    margin: 330px 120px;
    border-radius:50px;  
    display: flex;
    overflow-y: hidden;
    border: 1px solid #ffbca880;    
}

.stores-list{
    font-size: 35px;
    font-family: cursive;
    padding: 15px 30px;
    margin: 0px 0px;
    text-shadow: 6px 6px 15px grey;
    flex-grow: 1;
    overflow-y: auto;  
}
.stores-list::-webkit-scrollbar{
    width: 25px ;  
}
.stores-list::-webkit-scrollbar-track{
    background-image: linear-gradient(#1313134a,#e1e2e200);
    border-radius: 50px;
}
.stores-list::-webkit-scrollbar-thumb{
    background-image:linear-gradient(#ffffff,#5bfbe5d1);
    border-radius: 50px; 
}
.stores-list::-webkit-scrollbar-thumb:hover{
    background-image:linear-gradient(rgb(255, 169, 129),rgb(255, 255, 255))
} 

.store-container{
    margin: 10px -10px;
    border-bottom: 2px solid;
    border-color: #ff000042;
}
.store-container ul li{
    list-style: none;
}
.store-number{
    font-size: x-large;
    font-weight: bolder;
    color: #1d1d1d66;
    line-height: 2em;
}
.circle{
    width: 55px; 
    height: 55px;
    background-color: #ff818187;
    border-radius: 25px;
    float: right;
    margin: -40px 15px;
    box-sizing: border-box;
    text-align: center;
}
.store-container:hover{
    background-image: linear-gradient(to top right, #f59b8166, #f3eeee);
    padding: 1px 0px;
    border-radius: 50px;
    cursor: pointer;

}

/*For inside javascript 'html' code  */

.store-info-window{
    background-image:radial-gradient( #f195479c, #e687350d);
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
    box-shadow: 10px 10px 5px 0px #9494949e;
}

.store-info-name{
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    color: #131313a8;
    padding: 10px 15px;
    margin-right: 100px;
    text-shadow: 15px 15px 8px #8c8c8c69;

}
.store-info-status{
    font-size: 35px;
    border-bottom: 1px solid #9184ffb3;
    font-weight: bold;
    font-family: cursive;
    line-height: 2em;
    padding: 10px 15px;
    margin-right: 100px;
    text-shadow:10px 10px 10px #8c8c8c69;
}
.store-info-address,.store-info-phone{
    font-weight: bold;
    font-family: cursive;
    font-size: 40px;
    line-height: 2em;
    padding-bottom: 15px;
    margin-right: 80px;
    margin-top: 25px;
    text-shadow: 15px 15px 10px #8c8c8c69;
    
}
.circle-1{
    float: left;
    color: white;
    background: #042df7;
    width: 76px;
    height: 76px;
    border-radius: 50px;
    text-align: center;
    margin-right:20px;
    margin-top: 15px;
   
}

.circle-2{
    float: left;
    color: white;
    background: #0273ffbf;
    width: 78px;
    height: 78px;
    border-radius: 40px;
    text-align: center;
    margin-right: 15px;
    
}
